{% load static %}
<!DOCTYPE html>
<html lang="Lorem">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order</title>

    <link rel="stylesheet" href="{% static 'mainapp/css/order.css' %}">
</head>
<body>
    <section class="container">
        <nav class="group-1">
            <span class="Timurka-Store">Timurka Store</span>
            <div class="group-2">
                <a href="{% url 'home' %}" class="home">home</a>
                <a href="{% url 'about' %}" class="about">about</a>
                <a href="{% url 'services' %}" class="services">services</a>
                
            </div>
        </nav>
        <div class="goods"><p class="Gtext">Спасибо за оформление заказа</p></div>
       <a href="{% url 'home' %}" ><button class="Hbut">Вернутся на главную</button></a> <a href="{% url 'about' %}" ><button class="Abut">Оставить отзыв</button></a>
       <p class="text">С вами свяжется наш менеджер в течении 3-ёх рабочих дней</p>
        <footer>
            <div class="Fbot">
                <p class="contact">CONTATC US</p>
                <br>
                <br>
                <ul class="spisok">
                    <li>numb: 7(910)-734-04-40</li>
                    <li>mail: ganger347008@yandex.ru</li>
                    <li>addres: Russia, Bruansk, Lenin's st. 126A</li>
                </ul>
            </div>
        </footer>
    </section>
   
    
</body>
</html>