* {
    margin:0px;
    padding:0px;
}
.container{
    position: absolute;
    background-color: hsl(240, 50%, 1%); 
    width: 100%;
    height: 100vh;
}

.group-1{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 50px;
    background-color:rgba(13, 14, 13, 0.822);
    z-index: 5;
}

.Timurka-Store{
    position: absolute;
    width: 96px;
    height: 19px;
    left: 300px;
    top: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.group-2{
    position: absolute;
    width: 181px;
    height: 17px;
    right: 367px;
    top: 16px;
}

.home{
    position: absolute;
    left: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-transform: capitalize;
    color: #706F74;
    text-decoration: none;
}

.about{
    position: absolute;
    left: 62px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-transform: capitalize;
    color: #706F74;
    text-decoration: none;
}

.services{
    position: absolute;
    right: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-transform: capitalize;
    color: #706F74;
    text-decoration: none;
}
.Fbot{
    position: fixed;
    bottom: 0px;
    z-index: 2;
    background-color: #35343a;
    width: 100%;
    height: 60px;
}
.contact{
position: absolute;
left: 45%;
color: aliceblue;
font-size: 20px;
font-weight: 500;
line-height: 22px;
}
.spisok{
    padding-left: 40px;
    display: flex;
    gap: 30%;
    list-style-type: none;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: aliceblue;
}
.desc{
    color: aliceblue;
    font-size: 32px;
    font-weight: 600;
    line-height: 36px;
}
.price{
    color: aliceblue;
    font-size: 30px;
    font-weight: 600;
    line-height: 32px;
}
image{
    border-radius: 50px;
}
.card1{
    position: relative;
    top: 200px;
    left: 150px;
    width: 80%;
    height: 600px;
}
.img1{
    position: absolute;
    top: 60px;
    height: 80%;
    width: 30%;
}
.name1{
    position: absolute;
    top: 10px;
    right: 55%;
    color: aliceblue;
    font-size: 30px;
    font-weight: 600;
    line-height: 32px;
}
.price1{
    position: absolute;
    bottom: 80px;
    left: 600px;
}
.desc1{
    position: absolute;
    top: 100px;
    right: 55%;
}
.card2{
    position: relative;
    top: 200px;
    left: 150px;
    width: 80%;
    height: 600px;
}
.img2{
    position: absolute;
    top: 60px;
    height: 80%;
    width: 30%;
}
.name2{
    position: absolute;
    top: 10px;
    right: 55%;
    color: aliceblue;
    font-size: 30px;
    font-weight: 600;
    line-height: 32px;
}
.price2{
    position: absolute;
    bottom: 80px;
    left: 600px;
}
.desc2{
    position: absolute;
    top: 100px;
    right: 55%;
}
.card3{
    position: relative;
    top: 200px;
    left: 150px;
    width: 80%;
    height: 600px;
}
.img3{
    position: absolute;
    top: 60px;
    height: 80%;
    width: 30%;
}
.name3{
    position: absolute;
    top: 10px;
    right: 55%;
    color: aliceblue;
    font-size: 30px;
    font-weight: 600;
    line-height: 32px;
}
.price3{
    position: absolute;
    bottom: 80px;
    left: 600px;
}
.desc3{
    position: absolute;
    top: 100px;
    right: 55%;
}
.card4{
    position: relative;
    top: 200px;
    left: 150px;
    width: 80%;
    height: 600px;
}
.img4{
    position: absolute;
    top: 60px;
    height: 80%;
    width: 30%;
}
.name4{
    position: absolute;
    top: 10px;
    right: 55%;
    color: aliceblue;
    font-size: 30px;
    font-weight: 600;
    line-height: 32px;
}
.price4{
    position: absolute;
    bottom: 80px;
    left: 600px;
}
.desc4{
    position: absolute;
    top: 100px;
    right: 55%;
}
.inp-arr{
    width: 20%px;
    height: 70%px;
    padding: 5px;
    position: absolute;
    top: 200px;
    right: 100px;
}
input{
    border-radius: 10px;
    text-decoration: solid;
    border: none;
    height: 30px;
    width: 300px;
    background-color: #706F74;
    color: black;
    padding: 5px;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
}
input::placeholder{
    color: black;
}
.FIO{
    position: absolute;
    top: -70px;
    right: 100px;
    
}
.number{
    position: absolute;
    top: -20px;
    right: 100px;
}
.mail{
    position: absolute;
    top: 30px;
    right: 100px;
}
.color{
    position: absolute;
    top: 80px;
    right: 100px;
}
.value{
    position: absolute;
    top: 130px;
    right: 100px;
}
.FIO-sot{
    position: absolute;
    top: 180px;
    right: 100px;
}
.but{
    position: absolute;
    top: 230px;
    right: 180px;
    width: 160px;
    height: 50px;
    background-color: green;
    border: none;
    border-radius: 5px;
    color: aliceblue;
    text-transform: uppercase;
}
.but:hover{
    background-color: lightgreen;
}
.err{
color: green;
}
.telephonemod{
    background-color: #00000000;
    color: #00000000;
    position: absolute;
    width: 0px;
    height: 0px;
}
